<section class="layout-content">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="fas fa-caret-right"></i>
                    <span>Home</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="list-home" class="row">
            <div class="col-4">
                <h1>Inserir conteudo</h1>
            </div>
        </div>
    </div>

</section>
