<section class="layout-content">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="fas fa-caret-right"></i>
                    <span>Relatório de Vendas</span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="table-responsive table-overflow">
            <table id="relatorio" class="table table-striped table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código_Produto</th>
                        <th scope="col">Nome_Produto</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Valor_Unitário</th>
                        <th scope="col">Valor_Total</th>
                        <th scope="col">Data_Venda</th>
                        <th scope="col">Nome_Cliente</th>
                        <th scope="col">Código_Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">182</th>
                        <td>Livro Front-End</td>
                        <td>2</td>
                        <td>49,90</td>
                        <td>99,80</td>
                        <td>13/01/2021</td>
                        <td>Ellen Silva</td>
                        <td>539W</td>
                    </tr>
                    <tr>
                        <th scope="row">106</th>
                        <td>Mouse S/fio - Dell</td>
                        <td>4</td>
                        <td>89,90</td>
                        <td>359,60</td>
                        <td>19/03/2021</td>
                        <td>Mileni</td>
                        <td>702K</td>
                    </tr>
                    <tr>
                        <th scope="row">176</th>
                        <td>Livro Harry Potter</td>
                        <td>1</td>
                        <td>139,90</td>
                        <td>139,90</td>
                        <td>22/02/2021</td>
                        <td>Luiz Henrique</td>
                        <td>873J</td>
                    </tr>
                    <tr>
                        <th scope="row">086</th>
                        <td>Chaveiro Gamer</td>
                        <td>5</td>
                        <td>9,90</td>
                        <td>49,50</td>
                        <td>18/03/2021</td>
                        <td>Matheus Dantas</td>
                        <td>977L</td>
                    </tr>
                    <tr>
                        <th scope="row">176</th>
                        <td>Livro Asp.Net</td>
                        <td>1</td>
                        <td>110,00</td>
                        <td>110,00</td>
                        <td>12/08/2020</td>
                        <td>Nilson</td>
                        <td>031M</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


<!-- Exportar Jquery: EXCEL / PDF /  -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script> <!-- tudo -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> <!-- tudo -->
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script> <!-- layout button -->
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script> <!-- layout button -->
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script> <!-- layout button -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> <!-- Excel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script> <!-- PDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script> <!-- PDF -->
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script><!-- Buton export -->
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script><!-- s/efeito -->
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script> <!-- s/efeito -->
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script> <!-- s/efeito -->
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script> <!-- s/efeito -->
<script>
    $(document).ready(function () {
        var table = $('#relatorio').DataTable({
            lengthChange: false,
            paging: false,
            searching: false,
            ordering: false,
            info: false,
            buttons: ['excel', 'pdf']
        });

        table.buttons().container()
            .appendTo('#relatorio_wrapper .col-md-6:eq(0)');
    });
</script>